.col-md-3
  .offer-listing
    ul
      li
        a(href="/company-profile")
          i.fa.fa-chevron-right
          | #{data.companyinfolistmenus[0].companyProfile}
      li
        a(href="/mangementteam")
          i.fa.fa-chevron-right
          | #{data.companyinfolistmenus[0].mangementTeam}
      li
        a(href="/differentiator")
          i.fa.fa-chevron-right
          | #{data.companyinfolistmenus[0].differentiators}
      li
        a(href="/career")
          i.fa.fa-chevron-right
          | #{data.companyinfolistmenus[0].careers}
      li
        a(href="/partner")
          i.fa.fa-chevron-right
          | #{data.companyinfolistmenus[0].partners}