.col-md-3
  .offer-listing
    ul
      li
        a(href="/healthcareinsurer")
          i.fa.fa-chevron-right
          | #{data.footermenunavigations[0].healthcareinsurer}
      li
        a(href="/healthcareprovider")
          i.fa.fa-chevron-right
          | #{data.footermenunavigations[0].healthcareprovider}
      li
        a(href="/employer")
          i.fa.fa-chevron-right
          | #{data.footermenunavigations[0].employer}
      li
        a(href="/pharmaceutical")
          i.fa.fa-chevron-right
          | #{data.footermenunavigations[0].pharmaceutical}
      li
        a(href="/researchinstitute")
          i.fa.fa-chevron-right
          | #{data.footermenunavigations[0].researchinstitute}
      li
        a(href="/lifestyleindustry")
          i.fa.fa-chevron-right
          | #{data.footermenunavigations[0].lifestyleindustry}
      li
        a(href="/crm")
          i.fa.fa-chevron-right
          | #{data.footermenunavigations[0].crm}
      li
        a(href="/lawenforcement")
          i.fa.fa-chevron-right
          | #{data.footermenunavigations[0].lawenforcement}
       