.col-md-3
  .offer-listing
    ul
      li
        a(href="/softwareproduct")
          i.fa.fa-chevron-right
          | #{data.listingmenus[0].softwareProducts}
      li
        a(href="/consultingservice" class="heading")
            i.fa.fa-chevron-right
            | #{data.listingmenus[0].consulting}           
        .content
          ul
            li 
              a(href="/data-warehouse")
                i.fa.fa-chevron-right
                | #{data.listingmenus[0].datawarehouse}
            li
              a(href="/visualbusinessintelligence")
                i.fa.fa-chevron-right
                | #{data.listingmenus[0].visualbusiness}
            li
              a(href="/predictive-modeling")
                i.fa.fa-chevron-right
                | #{data.listingmenus[0].predictivemodeling}
            li
              a(href="/comparative-benchmarking")
                i.fa.fa-chevron-right
                | #{data.listingmenus[0].comparativebenchmarking}
            li
              a(href="/geo-spatial-analytic")
                i.fa.fa-chevron-right
                | #{data.listingmenus[0].geospaticalanalytics}
            li
              a(href="/ecommerce-portal")
                i.fa.fa-chevron-right
                | #{data.listingmenus[0].ecommerceportal}
            li
              a(href="/business-process-strategy")
                i.fa.fa-chevron-right
                | #{data.listingmenus[0].businessprocessstrategy}
            li
              a(href="/information-reporting-strategy")
                i.fa.fa-chevron-right
                | #{data.listingmenus[0].informationreporting}
            li
              a(href="/social-media-analysis")
                i.fa.fa-chevron-right
                | #{data.listingmenus[0].socialmedia}
      li
        a(href="/msp")
          i.fa.fa-chevron-right
          | #{data.listingmenus[0].msp}
      li
        a(href="/specializedanalyse")
          i.fa.fa-chevron-right
          | #{data.listingmenus[0].specialiseAnyalise}
      li
        a(href="/technologyresale")
          i.fa.fa-chevron-right
          | #{data.listingmenus[0].technologyResale}