extends ../layouts/default
block content
    header
      include ../views/navbar
      include ../views/menu
     section
      #inner-banner
      #inner-content-box#content-box
        .container
          #offerings
            .col-md-9.text-right
              ul.list-inline
                li
                  a(href="#",onclick="printFunction()")
                    i.fa.fa-lg.fa-print
                li
                  a#pdf
                    i.fa.fa-lg.fa-file-pdf-o
                li
                  a(href="#")
                    i.fa.fa-lg.fa-envelope
            .col-md-9#content-data
              h2 #{data.mangementteams[0].heading}
              .row
                .col-md-4
                  if data.mangementteams.length
                        img(id="image",src=data.mangementteams[0]._.image.limit(640,640))
                .col-md-8
                  p
                    | #{data.mangementteams[0].mangementTeamtext}
                    br
                    | #{data.mangementteams[0].mangementTeamsubtext}
                  p
                    | #{data.mangementteams[0].mangementTeamshortstring}
                  p
                    | #{data.mangementteams[0].mangementTeamlongstring}
            include ../views/companyinfolistmenu
      .container-fluid
        .row
          footer
            include ../views/footer
            