extends ../layouts/default
block content
    header
      include ../views/navbar
      include ../views/menu
     section
      #inner-banner
      #inner-content-box#content-box
        .container
          #offerings
            .col-md-9.text-right
              ul.list-inline
                li
                  a(href="#",onclick="printFunction()")
                    i.fa.fa-lg.fa-print
                li
                  a#pdf
                    i.fa.fa-lg.fa-file-pdf-o
                li
                  a(href="#")
                    i.fa.fa-lg.fa-envelope
            .col-md-9#content-data
              h2 #{data.partners[0].heading}
              .row
                .col-md-3
                  .thumbnail
                    img.img-responsive(id="image",src='#{data.partners[0].partnerimage}' alt='#{data.partners[0].partnerimage}')
                  .caption
                    h3.text-center #{data.partners[0].partnertext}
                .col-md-3
                  .thumbnail
                    img.img-responsive(id="image",src='#{data.partners[0].partnersubimage}')
                  .caption
                    h3.text-center #{data.partners[0].partnersubtext}
            include ../views/companyinfolistmenu
      .container-fluid
        .row
          footer
            include ../views/footer
            